<div class="row" ng-controller="DraggableController">
  <div class="small-3 columns">
      <h3>Create A Module</h3>
      <a href="#" data-dropdown="drop1" class="button dropdown">Dropdown Button</a><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
          <li ng-click="createModule('share-photo', 'sharePhotoController')">Share Photo</li>
          <li ng-click="createModule('share-video', 'shareVideoController')">Share Video</li>
      </ul>
  </div>
  <div class="small-9 columns">
      <div class="row main-container" ui-sortable="sortableOptions" ng-model="modules">
          <div ng-repeat="module in modules" class="small-6 columns sortables" id="sortable-{{$index}}">
              <div dynamic-directive="module"></div>
              <div resizer></div>
          </div>
      </div>
  </div>
</div>
